<div class="cards">
  <div class="cardOne">
    <p class="oneWins">Player 1 wins!</p>
    <img src="{{one.image}}"></image>
    <p class="oneScore"></p>
  </div>
  <div class="winText">
  <p class="whoWon"></p>
  <span class="glyphicon glyphicon-chevron-down floating"></span>
  </div>
  <div class="cardTwo">
    <p class="twoWins">Player 2 wins!</p>
    <img src="{{two.image}}"></image>
    <p class="twoScore"></p>
  </div>
</div>
